/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgb(151, 84, 246), rgb(30, 1, 70));
}
